section{
    background:#4178b5 ;
    padding:30px 0 30px 0;
    .hidden-text{
        display: flex;
    justify-content: center;

    }
.third-section { 
    margin:20px 0 20px 0;
    display: flex;
    justify-content: center;
 
    justify-content: center;
    .block-one { 
      flex: 1; 
      display: flex; 
      justify-content: center; 
   
      .block-one-img { 
        width: 80%; 
      } 
    } 
    .block-two { 
      flex: 1; 
      display: flex; 
      justify-content: center; 
   
      .block-two-text { 
        min-width: 250px; 
        width: 100%; 
        border-radius: 32px;
        border: 3px solid white;
        padding: 16px;
      } 
    } 
    .block-three { 
      flex: 1; 
      display: flex; 
      justify-content: center; 
   
      .block-three-img { 
        width: 70%; 
      } 
    } 
  }
}