.main-text{
    position: relative;
    margin: 0;
    padding: 20px;
    

    .application-areas{
        text-align: center;
        position: relative;

    h2{
        font-size: 25px;
        font-weight: bold;
        color: #333;
    }        
    .description-block-app{
        text-align: left !important;
        background-color: bisque;
        width: 80vh;
        padding: 16px;
        border-radius: 32px;
        border: 3px solid black;
        h2{
            font-size: 30px;
            font-weight: bold;
            color: #333;
        }
        ul{
            list-style-type: none;
            margin: 0;
            padding: 0;

            li{
                margin-bottom: 10px;            }
        }
        span{
            font-size: 16px;
            font-weight: bold;
            color: #333;
        }
    }
    }
}