.first-section {
  margin: 0 auto;
  width: 80%;
  .block-one {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .four-blocks {
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding-top: 92px;
      .block {
        border: 3px solid #273e67;
        display: flex;
        justify-content: space-between;
        padding: 20px;
        border-radius: 20px;
        @media(max-width: 900px){
          width: 100%;
        }

        .numb {
          font-size: 55px;
          font-weight: 900;
          color: #273e67;
        }
        .text {
          width: 70%;
          font-size: 18px;
        }
      }
    }
    .image-generate {
      @media(max-width: 900px){
        display: none;
      }
       
    }
  }
}

.first-section {
  .block-two {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .image-generate2{
      display:none;

      @media(max-width: 900px){
        display: block;
        margin: 0 auto;
      }
    }
    @media(max-width: 900px){
      display: flex;
      flex-direction: column;
      align-items: unset;
    }

    .four-blocks {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      @media(max-width: 900px){
        display: flex;
        flex-wrap: unset;
        flex-direction: column;
        gap: 0;
      }
      .block {
        width: 45.5%;
        border: 3px solid #273e67;
        display: flex;
        justify-content: space-between;
        padding: 20px;
        border-radius: 20px;
        @media(max-width: 900px){
          margin-top: 20px;
          width: 100%;
          max-width: 670px;
        }

        .numb {
          font-size: 55px;
          color: #273e67;
          font-weight: 900;
        }
        .text {
          width: 70%;
          font-size: 18px;
        }
      }
    }
  }
}
