
.main-gen {
    margin: auto auto;
    height: auto;
    width: calc(100% - 240px);
    border: 3px solid #273E67;
    border-radius: 20px;
    background-size: cover;
    display: flex; // основной контейнер
    flex-direction: column;
    margin-top: 30px;

    @media(max-width: 1200px ) {
        display: none;
        
    }

    .label{
        color: white;
        background-color: #273E67;
        padding: 15px;
        margin: 15px auto 0 auto;
        border-radius: 20px;
        font-weight: bold;
        font-size: 50px;
    }

    img{
        max-height: 100%;
        max-width: 100%;
        margin: 124px 0 0 0;
    }
    .div-main-gen-block{
        display: flex;
        margin-top: -100px !important;

    
    .left-side {
        display: flex; // позволяет располагать элементы внутри
        flex-direction: column; // элементы внутри будут расположены вертикально
        margin: 0;
        margin-left: 25px;
        
        .left-bocks {
            display: flex; // позволяет располагать элементы внутри
            flex-direction: row; // элементы внутри будут расположены горизонтально
            border: 3px solid #273E67;
            border-radius: 20px;
            margin-top: 140px !important;
            margin-left: auto !important;
            padding: 0 5px 0 5px;
            font-weight: 400;
            font-size: 15px;

            .block-text{
                margin: auto 0;
                font-size: 20px;
            }


            &:nth-child(1){
                margin-left: 55px !important;
                margin-top: 150px !important;

            }
            &:nth-child(2){
                margin-top: 10px !important;
                margin-left: 150px;
            }
            &:nth-child(3){
                margin-top: 4px !important;
                margin-left: 150px;
            }
            &:nth-child(4){
                margin-top: 12px !important;
                margin-left: 158px;
            }
            &:nth-child(5){
                margin-top: 4px !important;
                margin-left: 150px;
            }
            &:nth-child(6){
                margin-top: 10px !important;
                margin-left: 150px;
            }
            &:nth-child(7){
                margin-top: 4px !important;
                margin-left: 150px;
            }
            &:nth-child(8){
                margin-top: 150px !important;
                margin-left: 150px;
            }
            
            .advantages{
                margin-left: 5px;
                margin-right: 20px;
                font-weight: bold;
                color: #273E67;
                font-size: 50px;
            }
        }
    }
}

    .right-side{
        display: flex; // позволяет располагать элементы внутри
        flex-direction: column; 
        margin: 0;
        margin-bottom: 15px;
        .right-bocks{
            display: flex; // позволяет располагать элементы внутри
            flex-direction: row; // элементы внутри будут расположены горизонтально
            border: 3px solid #273E67;
            border-radius: 20px;
            margin-top: 127px;
            margin-left: 10px;
            padding: 0 5px 0 5px;
            font-weight: 400;
            font-size: 15px;
            margin-right: 15px;
            .block-text{
                margin: auto 0;
                font-size: 27px;
            }

            &:nth-child(1){
                margin-left: -5px;
                margin-top: 135px;

            }
            &:nth-child(2){
                margin-left: -3px;
                margin-top: 125px;

            }
            &:nth-child(3){
                margin-left: -3px;
                margin-top: 145px;

            }
            &:nth-child(4){
                margin-left: -3px;
                margin-top: 260px;
                width: 180px;
            }
            
            .advantages{
                margin-left: 5px;
                margin-right: 20px;
                font-weight: bold;
                color: #273E67;
                font-size: 50px;
            }
        }
    }
}

.generators{
    display: flex;
    flex-direction: column;
    .label-generators{
     margin-left: 125px;
    font-size: 50px;
    font-weight: bold;
    color: #273e67;
    hr{
      margin-top: 20px;
      border: none;
      border-top: 3px solid #273e67;
      max-width: 40%;
      margin-left: 0;
      @media(max-width:300px){
        max-width: 100%;
      }
      @media(max-width:340px){
        max-width: 100%;
      }
    }
    @media(max-width:355px){
      font-size: 40px;
      margin-left: 0;
      text-align: center;
    }
    @media(max-width:300px){
      font-size: 35px;
      text-align: center;
    }
  }

.two-generators{
    @media(max-width: 1200px ) {
        display: none;
        
    }
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 50px;
    flex-direction: row;
    font-size: 30px;
    font-weight: bold;
    color: #273E67;
    .generator1{
        width: 50%;
        height: 100%;
        border: 3px solid #273E67;
        margin: 0 15px auto;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        .label{
            color: white;
            background-color: #273E67;
            padding: 15px;
            margin: 15px auto 0 auto;
            border-radius: 20px;
        }
        .generator1-block{
            display: flex;
            flex-direction: row;
            justify-content: space-between; // Распределяем пространство между элементами
            align-items: center; // Центрируем элементы по вертикали

            img{
                right: 0;
                float: right;
                margin-left: 230px;

            }
            .block{
                position: absolute;
                display: flex;
                flex-direction: column;
                border: 3px solid #273E67;
                border-radius: 20px;
                height: auto;
                max-height: 350px;
                max-width: 200px;
                padding: 10px;
                margin-left: 80px; // Отрицательный отступ, чтобы "заехать" на изображение
                z-index: 1;
                margin-top: 0;
                .advantages{
                    margin-left: 5px;
                    margin-right: 20px;
                    font-weight: bold;
                    color: #273E67;
                    font-size: 50px;
                }
                .block-text{
                    font-size: 27px;
                    color: black;
                }
            }
        }

        .second-block{
            display: flex;
            flex-direction: column;
            border: 3px solid #273E67;
            border-radius: 20px;
            margin-bottom: 20px;
            max-width: 250px;
            margin-left: 150px;
            padding: 5px;
            .advantages{
                font-size: 50px;
            }
            .block-text{
                color:black;
            }
        }
        
    }
    .generator2{
        margin: 0 15px auto;
        width: 50%;
        height: auto;
        border: 3px solid #273E67;
        border-radius: 20px;
        display: flex;
        flex-direction: column;

        .label{
            color: white;
            background-color: #273E67;
            border-radius: 20px;
            padding: 15px;
            margin: 15px auto 0 auto;
        }
        img{
            height: auto;
            width: 500px;
            margin-top: -90px;
            margin-left: 45px;
            z-index: 999999;
        }

        .first-two-generator2-bloks{
            display:flex;
            flex-direction: row;
            .block{
                margin-left: 25px;
                margin-top: 50px;
                display: flex;
                flex-direction: column;
                border: 3px solid #273E67;
                border-radius: 20px;
                margin-right: 10px;
                padding: 10px;
                max-width: 300px;
                height: 100%;
                overflow-y: auto;
                font-size: 20px;
                color: #273E67;
                .advantages{
                    font-size: 50px;
                }
                .block-text{
                    color: black;
                    font-size: 27px;
                }
            }
        }
        .second-two-generator2-bloks{
            display: flex;
            flex-direction: column;
            height: 100%;
            font-size: 20px;
            color: #273E67;
            margin-left: 10px;
            .block{
                margin-top: -125px;
                margin-bottom: 130px;
                width: 250px;
                max-height: 150px !important;
                margin-left:265px;
                display: flex;
                flex-direction: row;
                border: 3px solid #273E67;
                border-radius: 20px;
                .advantages{
                    font-size: 50px;
                    margin-right: 10px;
                }
                .block-text{
                    color: black;
                    font-size: 27px;
                }
                &:last-child{
                    margin-bottom: 27px !important;
                }
            }
        }

    }

}
}
