body {
  margin: 0;
}

header {
  width: 100%;
  height: 740px;
  margin: 0 auto;
  background-size: cover;
  background-image: url(../loon-image-original\ 1.png);
}
@media (max-width: 768px) {
  header {
    height: 500px;
  }
}
@media (max-width: 480px) {
  header {
    height: 600px;
    width: 100%;
  }
}
header .navbar {
  height: 130px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .navbar .logo {
  margin-left: 120px;
  background-color: #fff;
  border-radius: 20px;
  padding: 0 75px 0 75px;
}
header .navbar .logo a {
  text-decoration: none;
  color: #273E67;
  font-size: 40px;
  line-height: 70px;
}
header .navbar .logo h2 {
  margin: 2.7px 0;
  font-size: 50px;
}
header .navbar .header__burger-btn {
  display: none;
  width: 40px;
  height: 40px;
  border: none;
  background-color: white;
  position: relative;
  right: 0;
}
header .navbar .header__burger-btn span {
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: black;
  left: 5px;
}
header .navbar .header__burger-btn span:nth-child(1) {
  transform: translateY(-11px);
}
header .navbar .header__burger-btn span:nth-child(3) {
  transform: translateY(10px);
}
@media (max-width: 768px) {
  header .navbar .header__burger-btn {
    display: block;
    position: absolute;
    top: 40px;
    right: 20px;
  }
}
header .navbar .nav-list {
  background-color: #fff;
  border-radius: 20px;
  margin-right: 61px;
  padding: auto auto;
}
header .navbar .nav-list ul {
  display: flex;
  margin: 22.2px 116.01px;
  list-style: none;
  padding: 0;
  gap: 40px;
}
@media (max-width: 768px) {
  header .navbar .nav-list ul {
    flex-direction: column;
    align-items: center;
    transition: all 0.3s ease-in-out;
    transform: translateY(-100%);
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 70px;
    right: 20px;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
  }
}
@media (max-width: 768px) {
  header .navbar .nav-list ul.active {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
    border-radius: 16px;
  }
}
header .navbar .nav-list ul a {
  text-decoration: none;
  color: #273E67 !important;
  font-size: 25px;
}
@media (max-width: 768px) {
  header .navbar .nav-list ul a {
    color: black;
    display: block;
    padding: 10px 0;
  }
}
header .navbar .nav-list ul li {
  transition: 0.3s;
}
header .navbar .nav-list ul li:hover {
  transition: transform 0.3s ease;
  transform: scale(1.1);
}
header .navbar .main-text-header {
  display: flex;
  color: white;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 90%;
  margin: 0 20px;
  padding: 20px 0;
  align-items: center;
}
@media (max-width: 768px) {
  header .navbar .main-text-header {
    flex-direction: column;
    align-items: center;
  }
}
header .navbar .main-text-header .left-text-block {
  flex: 1;
  display: flex;
  justify-content: center;
  animation: fadeIn 1.7s ease-in-out;
}
@media (max-width: 768px) {
  header .navbar .main-text-header .left-text-block {
    order: 2;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
header .navbar .main-text-header .left-text-block .left-text {
  width: 70%;
  min-width: 300px;
  font-size: 36px;
}
@media (max-width: 768px) {
  header .navbar .main-text-header .left-text-block .left-text {
    min-width: 100%;
    font-size: 35px;
    text-align: center;
  }
}
@media (max-width: 400px) {
  header .navbar .main-text-header .left-text-block {
    min-width: 100%;
    margin-top: 15px;
    font-size: 35px;
    text-align: center;
  }
}
header .navbar .main-text-header .right-text-block {
  flex: 1;
  display: flex;
  justify-content: center;
  animation: fadeIn 1.7s ease-in-out;
}
@media (max-width: 768px) {
  header .navbar .main-text-header .right-text-block {
    order: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
header .navbar .main-text-header .right-text-block .right-text {
  width: 75%;
  font-size: 70px;
}
@media (max-width: 768px) {
  header .navbar .main-text-header .right-text-block .right-text {
    min-width: 100%;
    font-size: 50px;
    text-align: center;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
header .main-text-header {
  display: flex;
  flex-direction: column; /* stack elements vertically */
  justify-content: center; /* center elements horizontally */
  align-items: center; /* center elements vertically */
  color: white;
  /* add background color for demo purposes */
  margin-top: 91px;
}
header .main-text-header hr {
  background-color: #fff;
  width: 881px;
  border-style: none;
  height: 3px;
}
header .main-text-header .up-text-block {
  margin-bottom: 20px; /* add margin between blocks */
}
header .main-text-header .up-text-block .up-text {
  font-size: 70px;
  text-align: center; /* center text horizontally */
}
header .main-text-header .down-text-block .down-text {
  font-size: 27px;
  text-align: center;
}/*# sourceMappingURL=header.css.map */