// <section>
//       <div class="videos">
//              ВИДЕО О НАШЕЙ РАЗРАБОТКЕ
//         <div class="video-blocks">
//           <div class="blocks">
//             Изделия серии ПИХТА<br>и уникальные топливные элементы
//             <div class="video-btn">
//               СМОТРЕТЬ ВИДЕО
//               <img src="./new_scss/strelochka.svg" alt="">
//             </div>
//           </div>
//           <div class="blocks">
//             Демонстранция генераторов ПИХТА
//             <div class="video-btn">
//               СМОТРЕТЬ ВИДЕО
//               <img src="./new_scss/strelochka.svg" alt="">
//             </div>
//           </div>
//         </div>

//       </div>

//     </section>


section{

    display: flex;
    flex-direction:row;
    justify-content: center;
    .videos{

    .text{
        font-size: 50px;
        color: #273E67;
        hr{
            width: 73%;
            background-color:#273E67;
            height: 3px!important;
            border-style: none;
            margin-left: 0;
            display: flex;
        }
    }
    .video-blocks{
        display: flex;
        flex-direction: row;
        justify-content: space-between;

    
    
    .blocks{
        margin-right: 15%;
        border: 3px solid #273E67;
        height: 179.94px;
        border-radius: 25px;
        display: flex;
        flex-direction: column;
        color:#273E67;
        .span{
            display: flex;
            flex-direction: column;
            font-size: 20px;
            font-weight: bold;
            margin: 20px 45px 20px 20px;
        }
        &:first-child{
            
        }
        &:last-child{
            margin-right: 0;

            
        }
        .video-btn{
            background-color: #273E67;
            color: white;
            display: flex;
            border-radius: 15px;
            max-width: 100%;
            padding: 10px;
            bottom: 0;
            margin-top: auto;

            cursor: pointer;
    
            h2{
                display: inline;
                flex: 0 0 auto;
                font-size: 17px;
            }
            img{
                margin-left: 20px;
                display: inline;
                flex: 0 0 auto;
                max-width: 248px;
                height: auto;
                margin-right: 65px;
                
            }
        }
    }
}

    }

}