.first-section {
  // Анимация генератора
  @include animation-generate;

  display: flex;
  margin: 30px 85px;
  align-items: center;
  flex-wrap: wrap;
  .block-one {
    flex: 1;
    border: 2px solid black;
    padding: 20px;
    min-width: 315px;
    .block-one-text {
    }
  }
  .block-two {
    animation: bounce 2s infinite;

    flex: 1.5;
    display: flex;
    justify-content: end;
    margin-right: 40px;
    margin-left: 20px;
    .block-two-img {
      img {
      }
    }
  }
}
@media (min-width: 300px) and (max-width: 1000px) {
  .first-section {
    .block-one {
      .block-one-text {
        font-size: 20px;
      }
    }
    .block-two {
      display: flex;
      justify-content: center;
      .block-two-img {
        img {
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .first-section {
    display: flex;
    justify-content: center;
    .block-one {
      h2 {
        font-size: 24px;
      }
      .block-one-text {
      }
    }
  }
  .block-two {
    display: flex;
    justify-content: center;
    .block-two-img {
      img {
        width: 300px;
        height: 450px;
      }
    }
  }
}

@media (max-width: 380px) {
  .first-section {
    display: flex;
    justify-content: center;
    .block-one {
      min-width: 230px;

      h2 {
        font-size: 24px;
      }
      .block-one-text {
        font-size: 14px;
      }
    }
  }
}
