header {
  width: 100%;
  height: 500px;
  margin: 0 auto;
  background: url(..//..//img//image1.png) no-repeat center center fixed;
  background-size: cover;
}

.navbar {
  height: 130px; // Явная высота nav
  display: flex;
  justify-content: space-around; // Элементы по краям и центрируются
  align-items: center; // Центрирование по вертикали

  .logo {
    margin-bottom: 17px;
    a {
      text-decoration: none;
      color: #fff;
      font-size: 40px; // Вы можете регулировать размер шрифта
      line-height: 70px; // Совпадает с высотой nav для центрирования
    }
  }

  .nav-list {
    ul {
      display: flex;
      justify-content: center;
      align-items: center; // Центрирование по вертикали
      list-style: none;
      padding: 0; // Убираем отступы у UL
      gap: 15px;

      a {
        text-decoration: none;
        color: #fff;
        font-size: 21px;
      }

      li {
        padding: 0 10px;

        &:hover {
          transition: transform 0.3s ease;
          transform: scale(1.1);
        }
      }
    }
  }
}
// Анимация появления
@include appereance-animation;
header {
  .main-text-header {
    display: flex;
    color: white;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
    margin: 0 20px; // центрирование блока
    padding: 20px 0; // добавление отступов сверху и снизу
    align-items: center;
    .left-text-block {
      flex: 1;
      display: flex;
      justify-content: center;
      // Анимация появления
      animation: fadeIn 1.7s ease-in-out;
      .left-text {
        width: 70%;
        min-width: 300px;
        font-size: 36px;
      }
    }
    .right-text-block {
      flex: 1;
      display: flex;
      justify-content: center;
      // Анимация появления
      animation: fadeIn 1.7s ease-in-out;
      .right-text {
        width: 75%;
        font-size: 70px;
      }
    }
  }
}

@media (min-width: 300px) and (max-width: 840px) {
  header {
    min-height: 700px;
    .main-text-header {
      display: flex;
      flex-direction: column;
      align-items: center; /* Центрирование по вертикали для всего контейнера */

      .left-text-block {
        order: 2;
        display: flex;
        justify-content: center; /* Центрирование содержимого внутри блока */
        align-items: center; /* Центрирование содержимого внутри блока */

        .left-text {
          min-width: 100%;
          font-size: 35px;
          text-align: center; /* Центрирование текста по горизонтали */
        }
      }

      .right-text-block {
        order: 1;
        display: flex;
        justify-content: center; /* Центрирование содержимого внутри блока */
        align-items: center; /* Центрирование содержимого внутри блока */

        .right-text {
          min-width: 100%;
          font-size: 50px;
          text-align: center; /* Центрирование текста по горизонтали */
        }
      }
    }
  }
}
@media (min-width: 475px) and (max-width: 840px) {
  header {
    .main-text-header {
      .right-text-block {
        margin-bottom: 70px;
        .right-text {
        }
      }
    }
  }
}
